{
  "compact": true,
  "presets": [
    [
      "env", {
      "targets": {
        "node": "current",
        "browsers": ["last 2 versions", "safari >= 7"]
      }
    }

    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "transform-react-jsx"
  ]
}
